doctype html
html(data-ng-app="hk-app")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    block content

    script(src="//connect.facebook.net/en_US/sdk.js")
    script(src="/javascripts/vendor/fb/init-script.js") 

    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.min.js")

    script(src="/javascripts/app.js") 

