doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    h1#fb-welcome

    block content

    script(src="/javascripts/vendor/fb/init-script.js")

    .fb-like(data-share="true", data-width="450", data-show-faces="true")

    must point to a directory (i.e., end with a '/' or a dynamic page (i.e., have a '?' somewhere).