<div id="game">
  <h1  class="center">{{user.name}} vs {{opponent}}</h1>
    
  <div id="notYT" class="center">
    Hey, It's not your turn right now !
  </div>

  
  <div class="center">
    <table 
      class="g-table"
      border="1"
      cellspacing="5" 
      data-ng-if="user != undefined"
      >
      <tbody>
        <tr data-ng-repeat="row in rowz">
          <td
            data-ng-repeat="cell in row.split('')"
            data-ng-click="applyAction(cell)"
            data-ng-class="cellClass(cell)"
            > {{alphabet.indexOf(cell)}} </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="center">
    {{(stat == true? "Your turn": "Waiting for oppnent!")}}
  </div>


  <div class="center">
    Point: {{bingoChar(points)}}
  </div>

  <div class="center">
    <strong>{{winingMsg}}</strong>
  </div>


</div>